span {
  background-color: #47d273;
  border-color: #008092;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  border-radius: 24px;
}
span:hover {
  cursor: pointer;
}
div::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 19px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
