<main class="main" [ngClass]="{'dark': isModeDark}">
  <header class="header">
    <div class="header__item1">
      <h1 class="header__item1-title">Social Media Dashboard</h1>
      <p>Total Followers: 23, 004</p>
    </div>
    <div class="header__item2">
      <p>Dark Mode</p>
      <button class="btn" (click)="toggleModeDark()">
        <app-button-on *ngIf="isModeDark"></app-button-on>
        <app-button-off *ngIf="!isModeDark"></app-button-off>
      </button>
    </div>
  </header>
  <section class="cards">
    <app-social-media-item [isModeDark]="isModeDark" *ngFor="let socialMedia of socialMediaDataItems"
      [socialMediaData]="socialMedia">
    </app-social-media-item>
  </section>
  <section class="bottom">
    <h2 class="bottom__title" [ngClass]="{'white': isModeDark}">Overview - Today</h2>
    <div class=" bottom__wrapper">
      <app-item-info-social [isModeDark]="isModeDark" *ngFor="let overview of overviewToday" [overviews]="overview">
      </app-item-info-social>
    </div>
  </section>

</main>
